@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 10. Background color
* $type color
*/
$chat-background-color: $base-bg !default;

/**
* $name 20. Border color
* $type color
*/
$chat-border-color: $base-border-color !default;
$chat-messagebox-border-color: $chat-border-color !default;

/**
* $name 30. Text color
* $type color
*/
$chat-avatar-color: null !default;

/**
* $name 31. Background color
* $type color
*/
$chat-avatar-background-color: $base-border-color !default;

/**
* $name 40. Text color (sent messages)
* $type color
*/
$chat-bubble-color-primary: null !default;

/**
* $name 41. Background color (sent messages)
* $type color
*/
$chat-bubble-background-color-primary: null !default;

/**
* $name 42. Text color (received messages)
* $type color
*/
$chat-bubble-color-secondary: null !default;

/**
* $name 43. Background color (received messages)
* $type color
*/
$chat-bubble-background-color-secondary: null !default;

/**
* $name 50. User name color
* $type color
*/
$chat-information-author-name-color: null !default;

/**
* $name 51. Timestamp color
* $type color
*/
$chat-information-timestamp-color: null !default;

/**
* $name 52. Day header color
* $type color
*/
$chat-messagelist-day-header-color: null !default;

/**
* $name 55. Alert color
* $type color
*/
$chat-alertlist-color: $base-invalid-color !default;

/**
* $name 65. Icon color
* $type color
*/
$chat-messagelist-empty-icon-color: null !default;

/**
* $name 66. Icon background color
* $type color
*/
$chat-messagelist-empty-icon-background-color: null !default;

/**
* $name 67. Title color
* $type color
*/
$chat-messagelist-empty-message-color: null !default;

/**
* $name 68. Subtitle color
* $type color
*/
$chat-messagelist-empty-prompt-color: null !default;

/**
* $name 80. Text color
* $type color
*/
$chat-typingindicator-color: null !default;

/**
* $name 82. Central circle color
* $type color
*/
$chat-typingindicator-circle-bg-color-center: null !default;

/**
* $name 83. Outer circles color
* $type color
*/
$chat-typingindicator-circle-bg-color: null !default;

@if $color == "light" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-color-secondary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(darken($base-accent, 5%), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: darken($base-element-bg, 4%) !default;
  $chat-information-author-name-color: darken($base-bg, 41.57) !default;
  $chat-information-timestamp-color: darken($base-bg, 41.57) !default;
  $chat-typingindicator-color: darken($base-bg, 41.57) !default;

  $chat-messagelist-day-header-color: darken($base-bg, 41.57) !default;
  $chat-messagelist-empty-icon-color: lighten($base-icon-color, 46.67) !default;
  $chat-messagelist-empty-icon-background-color: darken($base-bg, 7.84) !default;
  $chat-messagelist-empty-message-color: darken($base-text-color, 6.67) !default;
  $chat-messagelist-empty-prompt-color: lighten($base-label-color, 38.43) !default;

  $chat-typingindicator-circle-bg-color: darken($base-bg, 31.57) !default;
  $chat-typingindicator-circle-bg-color-center: darken($base-bg, 46.57) !default;
}

@if $color == "dark" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-color-secondary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(darken($base-accent, 5%), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: lighten($base-element-bg, 4%) !default;
  $chat-information-author-name-color: lighten($base-bg, 32.55) !default;
  $chat-information-timestamp-color: lighten($base-bg, 32.55) !default;
  $chat-typingindicator-color: lighten($base-bg, 32.55) !default;

  $chat-messagelist-day-header-color: lighten($base-bg, 32.55) !default;
  $chat-messagelist-empty-icon-color: darken($base-icon-color, 37.25) !default;
  $chat-messagelist-empty-icon-background-color: lighten($base-bg, 7.84) !default;
  $chat-messagelist-empty-message-color: lighten($base-text-color, 12.94) !default;
  $chat-messagelist-empty-prompt-color: darken($base-label-color, 38.04) !default;

  $chat-typingindicator-circle-bg-color: lighten($base-bg, 32.55) !default;
  $chat-typingindicator-circle-bg-color-center: lighten($base-bg, 41.07) !default;
}

@if $color == "carmine" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-color-secondary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(darken($base-accent, 5%), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: darken($base-element-bg, 4%) !default;
  $chat-information-author-name-color: darken($base-bg, 41.57) !default;
  $chat-information-timestamp-color: darken($base-bg, 41.57) !default;
  $chat-typingindicator-color: darken($base-bg, 41.57) !default;

  $chat-messagelist-day-header-color: darken($base-bg, 41.57) !default;
  $chat-messagelist-empty-icon-color: $base-icon-color !default;
  $chat-messagelist-empty-icon-background-color: darken($base-bg, 7.84) !default;
  $chat-messagelist-empty-message-color: $base-text-color !default;
  $chat-messagelist-empty-prompt-color: $base-label-color !default;

  $chat-typingindicator-circle-bg-color: darken($base-bg, 31.57) !default;
  $chat-typingindicator-circle-bg-color-center: darken($base-bg, 46.57) !default;
}

@if $color == "contrast" {
  $chat-avatar-color: $base-inverted-text-color !default;
  $chat-bubble-color-primary: $base-inverted-text-color !default;
  $chat-bubble-color-secondary: $base-inverted-text-color !default;
  $chat-bubble-background-color-primary: $base-inverted-bg !default;
  $chat-bubble-background-color-secondary: $base-hover-color !default;
  $chat-information-author-name-color: $base-text-color !default;
  $chat-information-timestamp-color: $base-text-color !default;
  $chat-typingindicator-color: $base-text-color !default;

  $chat-messagelist-day-header-color: $base-text-color !default;
  $chat-messagelist-empty-icon-color: $base-bg !default;
  $chat-messagelist-empty-icon-background-color: $base-inverted-bg !default;
  $chat-messagelist-empty-message-color: $base-text-color !default;
  $chat-messagelist-empty-prompt-color: $base-text-color !default;

  $chat-typingindicator-circle-bg-color: $base-inverted-bg !default;
  $chat-typingindicator-circle-bg-color-center: $base-inverted-bg !default;
}

@if $color == "darkmoon" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-color-secondary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(darken($base-accent, 5%), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: lighten($base-element-bg, 4%) !default;
  $chat-information-author-name-color: lighten($base-bg, 32.55) !default;
  $chat-information-timestamp-color: lighten($base-bg, 32.55) !default;
  $chat-typingindicator-color: lighten($base-bg, 32.55) !default;

  $chat-messagelist-day-header-color: lighten($base-bg, 32.55) !default;
  $chat-messagelist-empty-icon-color: $base-icon-color !default;
  $chat-messagelist-empty-icon-background-color: darken($base-bg, 7.84) !default;
  $chat-messagelist-empty-message-color: $base-text-color !default;
  $chat-messagelist-empty-prompt-color: $base-label-color !default;

  $chat-typingindicator-circle-bg-color: lighten($base-bg, 32.55) !default;
  $chat-typingindicator-circle-bg-color-center: lighten($base-bg, 41.07) !default;
}

@if $color == "darkviolet" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-color-secondary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(darken($base-accent, 5%), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: lighten($base-element-bg, 4%) !default;
  $chat-information-author-name-color: lighten($base-bg, 32.55) !default;
  $chat-information-timestamp-color: lighten($base-bg, 32.55) !default;
  $chat-typingindicator-color: lighten($base-bg, 32.55) !default;

  $chat-messagelist-day-header-color: lighten($base-bg, 32.55) !default;
  $chat-messagelist-empty-icon-color: darken($base-icon-color, 37.25) !default;
  $chat-messagelist-empty-icon-background-color: lighten($base-bg, 7.84) !default;
  $chat-messagelist-empty-message-color: lighten($base-text-color, 12.94) !default;
  $chat-messagelist-empty-prompt-color: darken($base-label-color, 38.04) !default;

  $chat-typingindicator-circle-bg-color: lighten($base-bg, 32.55) !default;
  $chat-typingindicator-circle-bg-color-center: lighten($base-bg, 41.07) !default;
}

@if $color == "greenmist" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-color-secondary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(darken($base-accent, 5%), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: darken($base-element-bg, 4%) !default;
  $chat-information-author-name-color: darken($base-bg, 41.57) !default;
  $chat-information-timestamp-color: darken($base-bg, 41.57) !default;
  $chat-typingindicator-color: darken($base-bg, 41.57) !default;

  $chat-messagelist-day-header-color: darken($base-bg, 41.57) !default;
  $chat-messagelist-empty-icon-color: $base-icon-color !default;
  $chat-messagelist-empty-icon-background-color: darken($base-bg, 7.84) !default;
  $chat-messagelist-empty-message-color: $base-text-color !default;
  $chat-messagelist-empty-prompt-color: $base-label-color !default;

  $chat-typingindicator-circle-bg-color: darken($base-bg, 31.57) !default;
  $chat-typingindicator-circle-bg-color-center: darken($base-bg, 46.57) !default;
}

@if $color == "softblue" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-color-secondary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(darken($base-accent, 5%), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: darken($base-element-bg, 4%) !default;
  $chat-information-author-name-color: darken($base-bg, 41.57) !default;
  $chat-information-timestamp-color: darken($base-bg, 41.57) !default;
  $chat-typingindicator-color: darken($base-bg, 41.57) !default;

  $chat-messagelist-day-header-color: darken($base-bg, 41.57) !default;
  $chat-messagelist-empty-icon-color: $base-icon-color !default;
  $chat-messagelist-empty-icon-background-color: darken($base-bg, 7.84) !default;
  $chat-messagelist-empty-message-color: $base-text-color !default;
  $chat-messagelist-empty-prompt-color: $base-label-color !default;

  $chat-typingindicator-circle-bg-color: darken($base-bg, 31.57) !default;
  $chat-typingindicator-circle-bg-color-center: darken($base-bg, 46.57) !default;
}

/**
* $name 81. Background color
* $type color
*/
$chat-typingindicator-bubble-bg-color: $chat-bubble-background-color-secondary !default;
